body {
  font-family: "Roboto Thin";
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.card {
  margin: 20px auto;
  width: 260px;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #00bcd4;
  color: black;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #03a9f4;
}
